body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(to right bottom, #3494e6, #ec6ead);
    animation: fadeIn 0.5s ease-in-out;
  }
  
  .container {
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    color: #333;
  }
  
  p {
    margin: 10px 0 5px;
    color: #555;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background: linear-gradient(to right bottom, #36d1dc, #5b86e5);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  
  button:hover {
    background: linear-gradient(to right bottom, #3494e6, #ec6ead);
  }
  
  #result {
    margin-top: 20px;
    font-weight: bold;
    color: #333;
  }
  
 
  .line-container {
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }
  
  .line {
    height: 10px;
    width: 80%;
    background: linear-gradient(to right, #4caf50, #ff5733);
    border-radius: 5px;
  }
  
  .circle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 2px solid #3494e6;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }